
/* CSS */ 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.App {
  background-image: url(./images/sunshine.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  background-color: rgba(255, 255, 255, 0.22);
  
}

.app.sunshine {
  background-image: url(./images/sunshine.jpg)
}

main {
  min-height: 100vh;
  padding: 25px;
  
}

.hidden {
  visibility: hidden;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
  text-shadow: 2px 2px rgba(50, 50, 70, .75);
  padding-top: 20px;  
}

.search-box .search-bar {
  
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 50px;
  margin-top: -25px;
  color: black;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255 1);
}

.location-bar .location {
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, .75); 
}

.location-bar .date {
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 2px 2px rgba(50, 50, 70, .75);
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  border-radius: 16px;
  padding: 50px 40px 0, 0,;
  color: white;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 2px 2px rgba(50, 50, 70, .75);
}